

<div class="container">
<div class="form">
  <h1>Talk to the coach</h1>
  <form action="/answer" method="get" class="form-space">
    <input type="text" name="ask" class="input" placeholder="put something here">
    <input type="submit" value="Ask!" class="submit">
  </form>
</div>
